In [6]:
''' 
String Based Practice Questions.

TOPIC: String Based Assignment Problem.
'''
#Q1. Write a program to reverse a string.

str1 = "This is reversal string."

str2 = str1[::-1]
print(str2)

# output := .gnirts lasrever si sihT

.gnirts lasrever si sihT

In [5]:
# Q2. Check if a string is a palindrome.

# input the string.

str7 = input("Input the string for palindrome :  " )

# calculate the length and divide by 2 to get match with string
# Creating count variable to count the matching occourancing.
# Matching first and last word of sring using If loopand count the matching occourance and at the end chedck with the count. 
# if count is matched, then it's palindrom.

strlen = int(len(str7))
cnt1 = 0
for i in range( 0, round(strlen/2),  1 ) :
    if str7[i] == str7[strlen-i-1] :
        cnt = 1
        cnt1 = cnt + cnt1
        
if cnt1 == round(strlen/2) :
    print("sting is palindrome " , str7)
               
else : print("string is not palindrome" , str7)
 
# Input the string for:   navin
# string is not palindrome navin
  
# Input the string for palindrome :   naman
# sting is palindrome  naman

Input the string for palindrome :   navin

string is not palindrome navin

In [12]:

#Q3. Convert a string to uppercase.
#Q4. Convert a string to lowercase.

str2 = "string to Uppercase."

str3 = str2.upper()
str4 = str2.lower()

print(str3)
print(str4)

# STRING TO UPPERCASE.
#string to uppercase.

STRING TO UPPERCASE.
string to uppercase.

In [15]:

#Q5. Count the number of vowels in a string.

# Doing using Stirng datatype. 
# Ask the input from user using INPUT function.

str3 = input("Please input the sentence : ")

vowel = 'aeiou'

# Checking for the count of vowels in the string.
cnt3 = 0
for x in vowel:
   
      
    if str3.count(x) > 0 :
        
        cnt2 = str3.count(x)
        cnt3 = cnt2  + cnt3

print("Input String as : " , str3) 
print("count of Vowels in the string : " , cnt3)

#Input String as :  This is a string to count the vowels in it.
#count of Vowels in the string :  12

Please input the sentence :  This is a string to count the vowels in it.

Input String as :  This is a string to count the vowels in it.
count of Vowels in the string :  12

In [23]:
#Q6. Count the number of consonants in a string.

# Doing using Stirng datatype. 
# Ask the input from user using INPUT function.

str3 = input("Please input the sentence : ")

str4 = str3.lower()
consonent = 0
vowels = 0
cnt = 0
for i in str4:
   
      
    if (i == 'a' or i == 'e' or i == 'i' or i == 'o' or  i == 'u' ):
        vowels = vowels + 1
    elif ( i == ' '):
         cnt1 = cnt1 + 1        
    else: 
        consonent =  consonent + 1
             

print("Input String as : " , str3) 
print("count of consonents in the string : " , consonent)

#Input String as :  This is a string to count the vowels in it.
#count of consonents in the string :  22

Please input the sentence :  This is a string to count the vowels in it.

Input String as :  This is a string to count the vowels in it.
count of consonents in the string :  22

In [24]:
#Q7. Remove all whitespaces from a string.


str3 = input("Please input the sentence : ")

str4 = str3.replace(' ', '')

print("Input String as : " , str3) 
print("Remove all whitespaces from a string: " , str4)

#Input String as :  this is a string.
#Remove all whitespaces from a string:  thisisastring.

Please input the sentence :  this is a string.

Input String as :  this is a string.
Remove all whitespaces from a string:  thisisastring.

In [42]:
#8. Find the length of a string without using the `len()` function.


str3 = input("Please input the sentence : ")

# reverse the string to get last position element. 
# get index of the element. 
str4 = str3[-1]
str5 = str3.index(str4,-1) + 1
print(str4)
print(str5)

#Please input the sentence :  this is a string
#g
#16

Please input the sentence :  this is a string

g
16

In [54]:
#Q9. Check if a string contains a specific word.

str3 = input("Please input the sentence : ")
spchr = "0123456789@!#$%^&*-+"
cnt1= 0
for i in spchr:
    if str3.find(i)  :
        cnt1 = cnt1 + 1
        

if cnt1 > 0 :
    print("found special character")
else :     
    print("Not found special character")    
    
#Please input the sentence :  this is a string
#Not found special character    

#Please input the sentence :  this is $100 question.
#found special character

Please input the sentence :  this is $100 question.

found special character

In [55]:
#Q10. Replace a word in a string with another word.

str1 = 'this is a string.'
str2 = str1.replace('i' ,'n')
print(str2)

#thns ns a strnng.

thns ns a strnng.

In [58]:
#Q11. Count the occurrences of a word in a string.

str1 = 'this is a string'
str2 = str1.count('is')
print(str2)
# 2

2

In [10]:
#Q12. Find the first occurrence of a word in a string.

str1 = "This is a string."

str2 = str1.split()
str3 = str2[0]
print(str2)
print(str3)

#['This', 'is', 'a', 'string.']
#This

['This', 'is', 'a', 'string.']
This

In [12]:
#Q13. Find the last occurrence of a word in a string.

str1 = "This is a string."

str2 = str1.split()
str3 = str2[-1]
print(str2)
print(str3)

#['This', 'is', 'a', 'string.']
#string.

['This', 'is', 'a', 'string.']
string.

In [20]:
#Q14. Split a string into a list of words.

str1 = "This is a string."

str2 = list(str1.split())

print(str2)
#['This', 'is', 'a', 'string.']

['This', 'is', 'a', 'string.']

In [23]:
#Q15. Join a list of words into a string.
list1 = [ 'abc', 'xyz', 'ram' , 'sham' ]

str1 = str(list1)

print(str1)
print(str2)
#['abc', 'xyz', 'ram', 'sham']

['abc', 'xyz', 'ram', 'sham']
['abc', 'xyz', 'ram', 'sham']

In [49]:
#Q16. Convert a string where words are separated by spaces to one where words are separated by underscores.

str1 = " This is a string separated by spaces."

str4 = str(str1.split( ))

str5= str4.replace(',' , '_')
type(str4)
print(str5)

#['This'_ 'is'_ 'a'_ 'string'_ 'separated'_ 'by'_ 'spaces.']

['This'_ 'is'_ 'a'_ 'string'_ 'separated'_ 'by'_ 'spaces.']

In [57]:
#Q17. Check if a string starts with a specific word or phrase.

str1 = input("Please input the string : ")

# Use find function, if it found the phrase in start will return with 0 value , means got it in starting otherwise its not. 

phrase = "My Dog"

if str1.find(phrase) == 0 :
        print("String is started with phrase.")
else :        
        print(" String is not started with phrae.")

        
#Please input the string :  hi My Dog is hungry
# String is not started with phrae.

#Please input the string :  My Dog is hungry.
#String is started with phrase.

Please input the string :  My Dog is hungry.

String is started with phrase.

In [69]:
#Q18. Check if a string ends with a specific word or phrase.

str1 = input("Please input the string : ")

phrase = "My Dog"
str3 = len(phrase)
str4 = len(str1)

str2 = str1.find(phrase)
if len(phrase) + str2 == len(str1) :
      print("String is ended with phrase.")
else :        
        print(" String is not ended with phrae.")
    

#Please input the string :  This is My Dog
#String is ended with phrase.    

#Please input the string :  That is My Dog and good.
#String is not ended with phrae.

Please input the string :  That is My Dog and good.

 String is not ended with phrae.

In [70]:
#Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

str1 = "hello world"

str2 = str1.title()

print(str2)

#Hello World

Hello World

In [75]:
#Q20. Find the longest word in a string.

str1 = input (" Please add your input string :")

str2 = str1.split()
cnt =0
cnt1 = 0
for i in str2 :
    cnt = len(i) 
    if cnt > cnt1 :
        cnt1 = cnt

print("Input string is " , str1)
print("Longest Word in the string is : " , cnt1)

#Input string is  This is one of the longest word string.
#Longest Word in the string is :  7

 Please add your input string : This is one of the longest word string.

Input string is  This is one of the longest word string.
Longest Word in the string is :  7

In [83]:
#Q21. Find the shortest word in a string.

str1 = input (" Please add your input string :")

str2 = str1.split()
cnt =0
cnt1 = len(str2[0])

for i in str2 :
    cnt = len(i) 
    if cnt < cnt1 :
        cnt1 = cnt

print("Input string is " , str1)
print("Shortest Word in the string is : " , cnt1)

#Input string is  This is shorter sting.
#Shortest Word in the string is :  2

 Please add your input string : This is shorter sting.

Input string is  This is shorter sting.
Shortest Word in the string is :  2

In [120]:
#Q22. Reverse the order of words in a string.

str1 = "This is reversiable string"

str2 = str1.split()

str3= []

for i in range(0,len(str2),1) :
    
    str4 = str2.pop()
    str3.append(str4)   

print("input string is " , str1)    
print("Output reversiable string is " , str3)
   
#input string is  This is reversiable string
#Output reversiable string is  ['string', 'reversiable', 'is', 'This']

input string is  This is reversiable string
Output reversiable string is  ['string', 'reversiable', 'is', 'This']

In [127]:
#Q23. Check if a string is alphanumeric.

str1 = input("add your input here:  ")

str2 = "0123456789"

for i in str2:
    if str1.count(i) > 0:
        print("String is alphanumberioc")
        break
    else: 
        print("String is not alphanumeric")
        break
        
#add your input here:   this is 100th string.
#String is alphanumberioc

add your input here:   this is 100th string.

String is alphanumberioc

In [153]:
#Q24. Extract all digits from a string.

str1 = input("add your input here:  ")

digit = '0123456789'
str3 =str1.split()
str4 = []
for i in digit:
    if str3.count(i) == True :
        str4.append(i)
   
print("Input string as: " , str1)
print("Extracted digit from the string: " , str4)        
    

#Input string as:  This is 0 and 1 value string.
#Extracted digit from the string:  ['0', '1']

add your input here:   This is 0 and 1 value string.

Input string as:  This is 0 and 1 value string.
Extracted digit from the string:  ['0', '1']

In [159]:
#Q25. Extract all alphabets from a string.

str1 = input("add your input here:  ")

str3 =str1.split()
str4 = []

for i in str3:
    if i.isalpha() :
        str4.append(i)
        
    
   
print("Input string as: " , str1)
print("Extracted character from the string: " , str4)   

#Input string as:  this is 0 and 1 value string.
#Extracted character from the string:  ['this', 'is', 'and', 'value']

add your input here:   this is 0 and 1 value string.

Input string as:  this is 0 and 1 value string.
Extracted character from the string:  ['this', 'is', 'and', 'value']

In [169]:
#Q26. Count the number of uppercase letters in a string.

str1 = input("add your input here:  ")

str3 = str1.split()
cnt=0
for i in str1:
    if i.isupper() == True:
        cnt =cnt + 1
       
        
print(cnt)

#add your input here:   This is Great Learning Point.
# 4

add your input here:   This is Great Learning Point.

4

In [170]:
#Q27. Count the number of lowercase letters in a string.

str1 = input("add your input here:  ")

str3 = str1.split()
cnt=0
for i in str1:
    if i.islower() == True:
        cnt =cnt + 1
       
        
print(cnt)

#add your input here:   This is Great Learning Point.
# 20

add your input here:   This is Great Learning Point.

20

In [38]:
#Q28. Swap the case of each character in a string.

str1 = input("add your input here:  ")

str2 = list(str1)

print(str2)

str4 = []

for i in str2:
    if i.islower() == True :
        str4.append(i.upper())        
    else :
        str4.append(i.lower())

print(str4)     

#add your input here:   THis shih HHIn Hhikn
#['T', 'H', 'i', 's', ' ', 's', 'h', 'i', 'h', ' ', 'H', 'H', 'I', 'n', ' ', 'H', 'h', 'i', 'k', 'n']
#['t', 'h', 'I', 'S', ' ', 'S', 'H', 'I', 'H', ' ', 'h', 'h', 'i', 'N', ' ', 'h', 'H', 'I', 'K', 'N']
# Swap case Method.
 
str6 = str1.swapcase()

print(str6)
#add your input here:   THis shih HHIn Hhikn
# thIS SHIH hhiN hHIKN

add your input here:   THis shih HHIn Hhikn

['T', 'H', 'i', 's', ' ', 's', 'h', 'i', 'h', ' ', 'H', 'H', 'I', 'n', ' ', 'H', 'h', 'i', 'k', 'n']
['t', 'h', 'I', 'S', ' ', 'S', 'H', 'I', 'H', ' ', 'h', 'h', 'i', 'N', ' ', 'h', 'H', 'I', 'K', 'N']
thIS SHIH hhiN hHIKN

In [40]:
#Q29. Remove a specific word from a string.

str1 = input("Add your string. " )

word1 = input("Add word needs to replace :  " )
word2 = input("Add word replace with     :  " )

str2 = str1.replace(word1, word2)

print(str2)

#Add your string.  This am my string.
#Add word needs to replace :   am
#Add word replace with     :   is
#This is my string.

Add your string.  This am my string.
Add word needs to replace :   am
Add word replace with     :   is

This is my string.

In [99]:
#Q30. Check if a string is a valid email address.

str1 = input("Add your Email here : ")

if  str1.islower() :
    if str1.find("@") > -1 :  
        if str1.find(".com") > -1 :
            print("Valid Email Address ")
        else :   
            print(" Not a Valid Email Address ") 
            
            
else : 

    print(" Not a Valid Email Address ") 

#Add your Email here :  vikas.sharma@gmail.com
#Valid Email Address 

#Add your Email here :  hfirhfirh@kikkkff
# Not a Valid Email Address

Add your Email here :  hfirhfirh@kikkkff

 Not a Valid Email Address

In [104]:
#@31. Extract the username from an email address string.

str1 = input("Add your Email here : ")

if  str1.islower() :
    str2 = str1[0:str1.index("@"):1]

print(str2)

#Add your Email here :  vikas@gmail.com
#vikas

Add your Email here :  vikas@gmail.com

vikas

In [106]:
#Q32. Extract the domain name from an email address string.

str1 = input("Add your Email here : ")

if  str1.islower() :
    str2 = str1[str1.index("@"): :1]

print(str2)
#Add your Email here :  vikas@gmail.com
#@gmail.com

Add your Email here :  vikas@gmail.com

@gmail.com

In [108]:
#@33. Replace multiple spaces in a string with a single space.

str1 = "This  is  string  with  multiple  spaces."

str2 = str1.replace("  ", ' ')

print(str1)
print(str2)

#This  is  string  with  multiple  spaces.
#This is string with multiple spaces.

This  is  string  with  multiple  spaces.
This is string with multiple spaces.

In [144]:
#Q34. Check if a string is a valid URL.

str1 = input("Please input your URL : ")
str2 = str1[0:4:1]
str3= str1[-1:-5:-1] 
str4 = str3[-1:-5:-1]
if str1.islower() :
    if str1[0:4:1] == 'www.' :
        if str4 in ('.com' , '.org' , '.nic') :
                print("valid URL. ")
        else : 
            print("Invalid URL. ")
    else :     
        print("Invalid URL. ")
else : 
    print("Invalid URL. ")
    
#Please input your URL :  www.education.nic
#valid URL.

Please input your URL :  www.education.nic

valid URL.

In [145]:
#Q35. Extract the protocol (http or https) from a URL string.

str1 = input("Please input your URL : ")

str2 = str1[0:5:1]

print(str2)
#Please input your URL :  http:www.edu.com
#http:

Please input your URL :  http:www.edu.com

http:

In [199]:
#Q36. Find the frequency of each character in a string.

str1 = input("input your string.")
str2 = set(str1)

for i in str2 :
    print("charcter in the string '" ,  i.upper() , "'  Frequency is  '"  ,  str1.count(i)  , "'")
     
#input your string. This is a string.
#charcter in the string ' A '  Frequency is  ' 1 '
#charcter in the string ' . '  Frequency is  ' 1 '
#charcter in the string ' N '  Frequency is  ' 1 '
#charcter in the string ' G '  Frequency is  ' 1 '
#charcter in the string ' T '  Frequency is  ' 1 '
#charcter in the string '   '  Frequency is  ' 3 '
#charcter in the string ' I '  Frequency is  ' 3 '
#charcter in the string ' T '  Frequency is  ' 1 '
#charcter in the string ' R '  Frequency is  ' 1 '
#charcter in the string ' S '  Frequency is  ' 3 '
#charcter in the string ' H '  Frequency is  ' 1 '

input your string. This is a string.

charcter in the string ' A '  Frequency is  ' 1 '
charcter in the string ' . '  Frequency is  ' 1 '
charcter in the string ' N '  Frequency is  ' 1 '
charcter in the string ' G '  Frequency is  ' 1 '
charcter in the string ' T '  Frequency is  ' 1 '
charcter in the string '   '  Frequency is  ' 3 '
charcter in the string ' I '  Frequency is  ' 3 '
charcter in the string ' T '  Frequency is  ' 1 '
charcter in the string ' R '  Frequency is  ' 1 '
charcter in the string ' S '  Frequency is  ' 3 '
charcter in the string ' H '  Frequency is  ' 1 '

In [211]:
#Q37. Remove all punctuation from a string.

str1 = input("please enter your string " )
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

for i in str1 :
    if i in punc :
        str1 = str1.replace(i , '')
        
print(str1)

#please enter your string  this is @@$ &**string.
#this is  string

please enter your string  this is @@$ &**string.

this is  string

In [227]:
#Q38. Check if a string contains only digits.

str1 = input("Enter your string")

if str1.isnumeric():
    print("String has only digit.")
else :
    print("String has alpha character")
    
#Enter your string 343437493
#String has only digit.   

#Enter your string 009r 89tt98
#String has alpha character

Enter your string 009r 89tt98

String has alpha character

In [241]:
#Q39. Check if a string contains only alphabets.

str1 = input("Enter your string")
str2 = str1.replace(' ', '')
print(str2)
if str2.isalpha() :
    print("String has only alphbets.")
else :
    print("String has numeric character too.")
    
#Enter your string this is a string
#thisisastring
#String has only alphbets.

Enter your string this is a string

thisisastring
String has only alphbets.

In [243]:
#Q40. Convert a string to a list of characters.

str1 = "this is a string."

lst1 = list(str1)

type(lst1)
print(lst1)
#['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', '.']

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', '.']

In [250]:
#Q41. Check if two strings are anagrams.

str1 = 'abcd'
str2 = 'bcda'

if sorted(str1) == sorted(str2) :
    print("strings are anagrams.")
else :
    print("Strings are not anagrams.")
#strings are anagrams.

strings are anagrams.

In [253]:
#Q42. Encode a string using a Caesar cipher.

str1 = "Hello Word"

str2 = []
for i in str1 :
    str2.append(ord(i))
str3 = str(str2)    
print(str2)
print(str3)

#[72, 101, 108, 108, 111, 32, 87, 111, 114, 100]
#[72, 101, 108, 108, 111, 32, 87, 111, 114, 100]

[72, 101, 108, 108, 111, 32, 87, 111, 114, 100]
[72, 101, 108, 108, 111, 32, 87, 111, 114, 100]

In [259]:
#Q43. Decode a Caesar cipher encoded string.
str4 = []
for i in str2 : 
    str4.append(chr(i))
print(str4)

#['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'd']

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'd']

In [295]:
#Q44. Find the most frequent word in a string.

str1 = input("Please enter the string " )
a = 0
b = 0
for i in str1 :
    if str1.count(i) > a :
        a = str1.count(i)
        b = i

print("most frequent word in string is '" , b ,"'" , " and count is '" , a , "'")
   
#Please enter the string  This is my string.
#most frequent word in string is ' i '  and count is ' 3 '

Please enter the string  This is my string.

most frequent word in string is ' i '  and count is ' 3 '

In [297]:
#Q45. Find all unique words in a string.

str1 = input("enter your string.")

str2 = list(set(str1))

print(str2)
#enter your string. this is my string.
#['.', 'm', 'y', 'n', 'g', ' ', 'i', 't', 'r', 's', 'h']

enter your string. this is my string.

['.', 'm', 'y', 'n', 'g', ' ', 'i', 't', 'r', 's', 'h']

In [298]:
#Q46. Count the number of syllables in a string.

# Doing using Stirng datatype. 
# Ask the input from user using INPUT function.

str3 = input("Please input the sentence : ")

vowel = 'aeiou'

# Checking for the count of vowels in the string.
cnt3 = 0
for x in vowel:
   
      
    if str3.count(x) > 0 :
        
        cnt2 = str3.count(x)
        cnt3 = cnt2  + cnt3

print("Input String as : " , str3) 
print("count of Vowels in the string : " , cnt3)

#Input String as :  This is a string to count the vowels in it.
#count of Vowels in the string :  12

Please input the sentence :  This is a string to count the vowels in it.

Input String as :  This is a string to count the vowels in it.
count of Vowels in the string :  12

In [310]:
#Q47. Check if a string contains any special characters.

str1 = input("please enter your string " )
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

str3 = 0
for i in punc :
        str2 = str1.count(i)
        str3 = str2 + str3
print(str3)

#please enter your string  this is @@##$vnfdh hi*&
#7

please enter your string  this is @@##$vnfdh hi*&

7

In [324]:
#Q48. Remove the nth word from a string.

str1 = input("Enter your string")

str2 = int(input("input number to remove the word from the string : " ))

str3 = str1[str2 - 1:str2:1]
str4 = str1.replace(str3,'')
print(str4)

#Enter your string this is a string
#input number to remove the word from the string :  3
#ths s a strng

Enter your string this is a string
input number to remove the word from the string :  3

ths s a strng

In [371]:
#Q49. Insert a word at the nth position in a string.

str1 = input("enter your string.")

str2 = int(input("add position to insert word"))
str3 = input("add word" )

str4 = str1[0:str2+1:1] + str3 + str1[str2+1::1]

print(str4)

#enter your string. this is a string.
#add position to insert word 4
#add word dd
#this ddis a string.

enter your string. this is a string.
add position to insert word 4
add word dd

this ddis a string.

In [373]:
#Q50. Convert a CSV string to a list of lists.

str1 = " This, is , a , string."

str2 = str1.split(',')

print(str2)

#[' This', ' is ', ' a ', ' string.']

[' This', ' is ', ' a ', ' string.']

In [383]:
# List Based Practice Problem :

#Q1. Create a list with integers from 1 to 10.

lst1 = []
for i in range (1,11):
    lst1.append(i)
    
print(lst1)
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [384]:
#Q2. Find the length of a list without using the `len()` function.

lst1 = [1,2,3,4,'abc','xyz']

cnt = 0
for i in lst1 : 
    cnt = cnt + 1
print(cnt)    
#6

6

In [388]:
#Q3. Append an element to the end of a list.

lst1 =  [1,2,3,4,'abc','xyz']

lst1.append('pqr')

print(lst1)
#[1, 2, 3, 4, 'abc', 'xyz', 'pqr']

[1, 2, 3, 4, 'abc', 'xyz', 'pqr']

In [389]:
#Q4. Insert an element at a specific index in a list.

lst1 =[1,2,3,4,'abc','xyz']
lst1.insert(2,10)

print(lst1)
#[1, 2, 10, 3, 4, 'abc', 'xyz']

[1, 2, 10, 3, 4, 'abc', 'xyz']

In [392]:
#Q5. Remove an element from a list by its value.

lst1 =[1,2,3,4,'abc','xyz']

lst1.remove(2)

print(lst1)
#[1, 3, 4, 'abc', 'xyz']

[1, 3, 4, 'abc', 'xyz']

In [391]:
#Q6. Remove an element from a list by its index.
lst1 =[1,2,3,4,'abc','xyz']

lst1.pop(2)

print(lst1)
#[1, 2, 4, 'abc', 'xyz']

[1, 2, 4, 'abc', 'xyz']

In [409]:
#Q7. Check if an element exists in a list.

lst1 =[1,2,3,4,'abc','xyz']
i =  input("enter the element" )

if i.isalpha() :
    i = str(i)
else :
    i = int(i)
    
if i in lst1 :
    print("Element found.")
else :
    print("Element not found.")
    
#enter the element 6
#Element not found.

#enter the element 3
#Element found.

#enter the element abc
#Element found.

enter the element abc

Element found.

In [415]:
#Q8. Find the index of the first occurrence of an element in a list.

lst1 =[1,2,3,4,'abc','xyz']

print(lst1.index(lst1[0]))


# 0

0

In [2]:
#Q9. Count the occurrences of an element in a list.

lst1 =[1,2,3,4,2,2,3,5,6,'abc','xyz']

lst2 = set(lst1)

cnt = 0
b = ''
c = 0
for i in lst2:
        cnt = lst1.count(i)
        print(" Element" , i , " count in the string" ,cnt)
 

#Element xyz  count in the string 1
#Element 1  count in the string 1
#Element 2  count in the string 3
#Element 3  count in the string 2
#Element 4  count in the string 1
#Element 5  count in the string 1
#Element 6  count in the string 1
#Element abc  count in the string 1

 Element xyz  count in the string 1
 Element 1  count in the string 1
 Element 2  count in the string 3
 Element 3  count in the string 2
 Element 4  count in the string 1
 Element 5  count in the string 1
 Element 6  count in the string 1
 Element abc  count in the string 1

In [6]:
#Q10. Reverse the order of elements in a list.

lst1 = [1,2,3,4,'abc','xyz']

lst1.reverse()

print(lst1)

#['xyz', 'abc', 4, 3, 2, 1]

['xyz', 'abc', 4, 3, 2, 1]
None

In [20]:
#Q11. Sort a list in ascending order.

lst1 = [1,2,3,2,2,3,6,9,4]

lst1.sort()


print(lst1)
#[1, 2, 2, 2, 3, 3, 4, 6, 9]

[1, 2, 2, 2, 3, 3, 4, 6, 9]

In [21]:
#Q12. Sort a list in descending order.

lst1 = [1,2,3,2,2,3,6,9,4]

lst1.sort(reverse=True)

print(lst1)
#[9, 6, 4, 3, 3, 2, 2, 2, 1]

[9, 6, 4, 3, 3, 2, 2, 2, 1]

In [30]:
#Q13. Create a list of even numbers from 1 to 20.

lst4 = []
for i in range( 2 , 21 , 2) :
    lst4.append(i)
    
print(lst4)    

#[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
#Q14. Create a list of odd numbers from 1 to 20.

lst5 = []
for i in range( 1 , 20 , 2) :
    lst5.append(i)
    
print(lst5)  
#[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [32]:
#Q15. Find the sum of all elements in a list.
lst1 = [2,4,5,6,8,9]

cnt = 0
for i in lst1:
    cnt = i + cnt
print("Sum of all element in a ltst" , cnt)    

#Sum of all element in a ltst 34

Sum of all element in a ltst 34

In [36]:
#Q16. Find the maximum value in a list.

lst1 = [2,4,5,6,8,15,8,3]

cnt = 0
for i in lst1:
    if i > cnt :
        cnt = i
print("maximum value in a list" , cnt)  

#maximum value in a list 15

maximum value in a list 15

In [47]:
#Q17. Find the minimum value in a list.

lst1 = [4,5,6,8,15,8,3,19]

cnt = lst1[0]
for i in lst1:
    if i <= cnt :
        cnt = i
print("mimimun value in a list" , cnt) 

#mimimun value in a list 3

mimimun value in a list 3

In [67]:
#Q18. Create a list of squares of numbers from 1 to 10

for i in range(1,11,1) :
    
    s1 = i*i
    print(s1)
 
'''
1
4
9
16
25
36
49
64
81
100
'''

1
4
9
16
25
36
49
64
81
100

In [71]:
#Q19. Create a list of random numbers.

import random
lst1 = []
for i in range(30):
    lst1.append(random.randint(3,4))
                
print(lst1)
#[3, 3, 3, 4, 4, 3, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 3, 4, 3, 3, 3, 3, 3, 4, 3, 3, 3, 4, 4, 3]

[3, 3, 3, 4, 4, 3, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 3, 4, 3, 3, 3, 3, 3, 4, 3, 3, 3, 4, 4, 3]

In [73]:
#Q20. Remove duplicates from a list.
 
lst1 = [3, 3, 3, 4, 4, 3, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 3, 4, 3, 3, 3, 3, 3, 4, 3, 3, 3, 4, 4, 3]
lst2 = set(lst1)

lst3 = list(lst2)

print("Remove duplicates from a list" , lst3)

#Remove duplicates from a list [3, 4]

Remove duplicates from a list [3, 4]

In [78]:
#Q21. Find the common elements between two lists.

lst1 = [1,3,5,4,6,9]
lst2 = [1,2,4,7,9]

#list(set(lst1).intersection(lst2))
#[1, 4, 9]
lst3 = []
for i in lst1:
    if i in lst2:
        lst3.append(i)
print(lst3)

#[1, 4, 9]

[1, 4, 9]

In [86]:
#Q22. Find the difference between two lists.

lst1 = [1,3,5,4,6,9]
lst2 = [1,2,4,7,9]

#list(set(lst1).intersection(lst2))
#[1, 4, 9]
lst3 = []
for i in lst1:
    if i not in lst2:
        lst3.append(i)
for i in lst2:
    if i not in lst1:
        lst3.append(i)
        
print(lst3)
#[3, 5, 6, 2, 7]

[3, 5, 6, 2, 7]

In [2]:
#Q23. Merge two lists.

lst1 = [1,3,5,4,6,9]
lst2 = [1,2,4,7,9]

for i in lst2 :
    lst1.append(i)

print(lst1)
#[1, 3, 5, 4, 6, 9, 1, 2, 4, 7, 9]

[1, 3, 5, 4, 6, 9, 1, 2, 4, 7, 9]

In [3]:
#Q24. Multiply all elements in a list by 2.

lst1 = [1,3,5,4,6,9]

for i in lst1:
    mult= i*2
    print(mult)
#
2
6
10
8
12
18

2
6
10
8
12
18

In [3]:
#Q25. Filter out all even numbers from a list.

lst1 = [1,3,5,4,6,9, 8, 15, 22, 26,47,98,59]

lst2 = []
for i in lst1 :
    if i%2  == 0 :
        lst2.append(i)
        
print(lst2)
# [4, 6, 8, 22, 26, 98]

[4, 6, 8, 22, 26, 98]

In [4]:
#Q26. Convert a list of strings to a list of integers.

lst1 = ['2','3','4','5']

lst2 = []
for i in lst1:
    lst2.append(int(i))
print(lst2)    
#[2, 3, 4, 5]

[2, 3, 4, 5]

In [5]:
#Q27. Convert a list of integers to a list of strings.

lst1 = [2, 3, -4, 5]

lst2 = []
for i in lst1:
    lst2.append(str(i))
print(lst2)  

#['2', '3', '-4', '5']

['2', '3', '-4', '5']

In [8]:
#Q28. Flatten a nested list.

lst1 = [1,2,[3,4,5],['sub'],['add','mult']]

lst2 = []
for i in lst1:
    if type(i) == list:
        for j in i:
            lst2.append(j)
    else :
        lst2.append(i)
        
print(lst2)     

#[1, 2, 3, 4, 5, 'sub', 'add', 'mult']

[1, 2, 3, 4, 5, 'sub', 'add', 'mult']

In [15]:
#Q29. Create a list of the first 10 Fibonacci numbers.

lst1 = [0,1]
p = 0
q = 1
for i in range(2 , 10):
    sum1 = p + q
    lst1.append(sum1)
    p = q
    q = sum1
    
print(lst1)    
#[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [17]:
#Q30. Check if a list is sorted.

lst1 = [1,3,4,6,22,33,15,76,89,99]

cnt = 0
lst2 = lst1[0] 
for i in lst1:
    if i >= lst2 :
        lst2 = i
        cnt = cnt + 1
        if cnt == len(lst1) :
            print("list is sorted")
    else :
        print("list is not sorted")
        break
# input - lst1 = [1,3,4,6,22,33,95,76,89,99]        
#list is not sorted  

# input - lst1 = [1,3,4,6,22,33,15,76,89,99]
#list is not sorted

list is not sorted

In [5]:
#Q31. Rotate a list to the left by `n` positions.

lst1 = [1,3,4,6,22,33,15,76,89,99]

pos = int(input("enter position of the rotate" ))
lst2  = lst1[pos::1]
lst3 = lst1[0:pos:1]

for i in lst3:
    lst2.append(i)
    
print("Rotated a list to the left by `n` positions." , lst2)    
    
#input - lst1 = [1,3,4,6,22,33,15,76,89,99]
#enter position of the rotate 3
#Rotated a list to the left by `n` positions. [6, 22, 33, 15, 76, 89, 99, 1, 3, 4]

enter position of the rotate 3

Rotated a list to the left by `n` positions. [6, 22, 33, 15, 76, 89, 99, 1, 3, 4]

In [19]:
#Q32. Rotate a list to the right by `n` positions.

lst1 =  [6, 22, 33, 15, 76, 89, 99, 1, 3, 4]

pos = int(input("enter position of the rotate" ))
lst2  = lst1[-1:-pos-1:-1]
lst2.reverse()
lst3 = lst1[-pos-1::-1]
lst3.reverse()

for i in lst3:
    lst2.append(i)
    
print("Rotated a list to the right by `n` positions." , lst2)  

#enter position of the rotate 3
#Rotated a list to the right by `n` positions. [1, 3, 4, 6, 22, 33, 15, 76, 89, 99]

enter position of the rotate 3

Rotated a list to the right by `n` positions. [1, 3, 4, 6, 22, 33, 15, 76, 89, 99]

In [29]:
#33. Create a list of prime numbers up to 50.
cnt = 0
for i in range (2,50+1):
    for n in range(2,i):
        if i%n == 0 :       
            break
    else :
        print(i)
 '''
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
'''

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [36]:
#Q34. Split a list into chunks of size `n`.

list1 = [1,2,4,5,8,12,15,23,56,69,99]
list2 = []
num = int(input("enter the number : "))

for i in range(0,len(list1),num):
    list2 = list1[i:num + i :1]
    print(list2)
 
# enter the number :  3
#[1, 2, 4]
#[5, 8, 12]
#[15, 23, 56]
#[69, 99]

enter the number :  3

[1, 2, 4]
[5, 8, 12]
[15, 23, 56]
[69, 99]

In [51]:
#Q35. Find the second largest number in a list.

list1 = [1,2,4,5,8,12,75,23,56,69,99,22]
list2 = []

num2 = 0
for i in list1:
    if i > num2:
        num2 = i
        list2.append(num2)
      
               
print(list2[-2]) 

#input - list1 = [1,2,4,5,8,12,75,23,56,69,99,22]
#75

75

In [54]:
#Q36. Replace every element in a list with its square.
list1 = [1,2,4,5,8,12,75,23,56,69,99,22]
list9= []
for i in list1:
    a = i*i
    list9.append(a)
    
print(list9)
#[1, 4, 16, 25, 64, 144, 5625, 529, 3136, 4761, 9801, 484]

[1, 4, 16, 25, 64, 144, 5625, 529, 3136, 4761, 9801, 484]

In [59]:
#Q37. Convert a list to a dictionary where list elements become keys and their indices become values.

list1 = [1,2,4,5,8,12,75,23,56,69,99,22]
dict1 = {}

for i , name in enumerate(list1):
    dict1[i] = name
    
print(dict1)    
#{0: 1, 1: 2, 2: 4, 3: 5, 4: 8, 5: 12, 6: 75, 7: 23, 8: 56, 9: 69, 10: 99, 11: 22}

# 2nd monthod.
list1 = [1,2,4,5,8,12,75,23,56,69,99,22]
dict2 = dict(enumerate(list1))

print(dict2)

{0: 1, 1: 2, 2: 4, 3: 5, 4: 8, 5: 12, 6: 75, 7: 23, 8: 56, 9: 69, 10: 99, 11: 22}

In [61]:
#Q38. Shuffle the elements of a list randomly.

import random
list1 = [1,2,4,5,8,12,75,23,56,69,99,22]

random.shuffle(list1)

print(list1)
#[2, 4, 22, 8, 69, 23, 56, 99, 12, 75, 1, 5]

[2, 4, 22, 8, 69, 23, 56, 99, 12, 75, 1, 5]

In [78]:
#Q39. Create a list of the first 10 factorial numbers.

num1 = int(input("Please enter the number :"))
           
num3 =1 
for i in range(num1 , 1 , -1):
    num2 = i * num3
    num3 = num2 
           
           
print(num3)
                     
#Please enter the number : 6
#720

Please enter the number : 6

720

In [88]:
#Q40. Check if two lists have at least one element in common.

lst1 = [1,3,5,4,6,9]
lst2 = [1,2,4,7,9]

lst3 = []
for i in lst1:
    if i in lst2:
        lst3.append(i)
        if len(lst3) > 0:
            print(" Having at least one element in common")
            break
else : 
    
    print("No common element" )
            


# Having at least one element in common.

 Having at least one element in common

In [90]:
#Q41. Remove all elements from a list.

list1 = [1,2,3,4,6,7,9,10]

list1.clear()

print(list1)

#[]

[]

In [92]:
#Q42. Replace negative numbers in a list with 0.

list1 = [1,2,3,-4,6,-7,9,10, 23,-44,89]

list2 = []
for i in list1:
    if i < 0 :
        i = i * -1
        list2.append(i)
    else :
        list2.append(i)
        
print(list2)  

#[1, 2, 3, 4, 6, 7, 9, 10, 23, 44, 89]

[1, 2, 3, 4, 6, 7, 9, 10, 23, 44, 89]

In [95]:
#Q43. Convert a string into a list of words.

str1 = "This is a String"

str2 = str1.split()
list1 = []
for i in str2:
    list1.append(i)

print(list1)
#['This', 'is', 'a', 'String']

['This', 'is', 'a', 'String']

In [111]:
#Q44. Convert a list of words into a string.

lst1 = ['This', 'is', 'a', 'String']

str1 = ' '

for i in lst1:
    str1 += i + ' '
    
print(str1)    
#This is a String

 This is a String

In [113]:
#Q45. Create a list of the first `n` powers of 2.

num = int(input("Please enter the numbers" ))

for i in range(1,num+1):
    num1= i**2
    print(num1)
 
#Please enter the numbers 4
#1
#4
#9
#16

Please enter the numbers 4

1
4
9
16

In [120]:
#Q46. Find the longest string in a list of strings.

list1 = ['ram', 'sham','manoj' , 'ab' , 'This is big string' , 'nhu']

num1 = 0
for i in list1:
    if len(i) > num1 : 
       
        num1 = len(i)
        
print(num1)
#18

18

In [122]:
#Q47. Find the shortest string in a list of strings.

list1 = ['ram', 'sham','manoj' , 'ab' , 'This is big string' , 'nhu']

num1 = len(list1[0])
for i in list1:
    if len(i) < num1 : 
       
        num1 = len(i)
        
print(num1)
#2

2

In [124]:
#Q48. Create a list of the first `n` triangular numbers.

num1 = int(input("Please enter the number"))

tri_num1 = []
tri_num = 0
for i in range(1,num1+1):
    tri_num += i
    tri_num1.append(tri_num)
    
print(tri_num1)    

#Please enter the number 4
#[1, 3, 6, 10]

Please enter the number 4

[1, 3, 6, 10]

In [126]:
#Q49. Check if a list contains another list as a subsequence.

list1 = [1,2,3,[1,5,6,7],[5,9]]

for i in list1:
    if type(i) == list:
        print("list contains another list as a subsequence")
        break
else :
    print("list does not contain any subsequence list.")
#list contains another list as a subsequence

list contains another list as a subsequence

In [130]:
#Q50. Swap two elements in a list by their indices.

lst1 = [1,4,5,9]


lst1[3] , lst1[0] = lst1[0] , lst1[3]

print(lst1)
#[9, 4, 5, 1]

[9, 4, 5, 1]

In [2]:
#Tuple Based Practice Problem :

#Q1. Create a tuple with integers from 1 to 5

t1 = (1,2,3,4,5)

type(t1)
 #tuple

tuple

In [3]:
#Q2. Access the third element of a tuple.

t1 = (1,2,3,4,5)

t2 = t1[2]

print(t2)
#3

3

In [5]:
#Q3. Find the length of a tuple without using the `len()` function.

t1 = (1,2,3,9,5)

cnt =0
for i in t1:
    cnt = cnt + 1

print(cnt)    
#5

5

In [9]:
#Q4. Count the occurrences of an element in a tuple.

t1 = (1,2,2,3,3,3,9,6,7,7,7,7,5)

set1 = set(t1)

for i in set1:
    t1.count(i)
    print("element is '" ,  i  , "' Count is" ,  t1.count(i))
 
'''
element is ' 1 ' Count is 1
element is ' 2 ' Count is 2
element is ' 3 ' Count is 3
element is ' 5 ' Count is 1
element is ' 6 ' Count is 1
element is ' 7 ' Count is 4
element is ' 9 ' Count is 1
'''

element is ' 1 ' Count is 1
element is ' 2 ' Count is 2
element is ' 3 ' Count is 3
element is ' 5 ' Count is 1
element is ' 6 ' Count is 1
element is ' 7 ' Count is 4
element is ' 9 ' Count is 1

In [11]:
#Q5. Find the index of the first occurrence of an element in a tuple.

t1 = (1,2,3,9,5)

print(t1.index(1)) 
#0

0

In [22]:
#Q6. Check if an element exists in a tuple.

t1 = (1,2,2,3,3,3,9,6,7,7,7,7,5)

ele = int(input("Please add the element" ))

for i in t1:
    if i == ele :
        print("element exists in a tuple.")
        break
    
else :
    print("element does not exists in a tuple")
        
#Please add the element 2
#element exists in a tuple.

#Please add the element 4
#element does not exists in a tuple

Please add the element 2

element exists in a tuple.

In [24]:
#Q7. Convert a tuple to a list.

t1 = (1,2,3,4,5,6,7)

l1 = list(t1)
type(l1)

print(l1)
#[1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [25]:
#Q8. Convert a list to a tuple.

l1 = [1, 2, 3, 4, 5, 6, 7]

t1 = tuple(l1)

print(t1)
#(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

In [28]:
#Q9. Unpack the elements of a tuple into variables.

t1 = (2,3,5,6,8)

(two,three,five,six,eight) = t1
print(two,three,five,six,eight)

#2 3 5 6 8

2 3 5 6 8

In [30]:
#Q10. Create a tuple of even numbers from 1 to 10.

t1 = ()
for i in range(0,11):
    if i%2 == 0 :
        print(i, end= ' ')
 #0 2 4 6 8 10

0 2 4 6 8 10

In [31]:
#Q11. Create a tuple of odd numbers from 1 to 10.

for i in range(0,11):
    if i%2 != 0 :
        print(i, end= ' ') 
        
#1 3 5 7 9

1 3 5 7 9

In [32]:
#Q12. Concatenate two tuples.

t1 = (1,2,3)
t2 =(4,5,6)

t3 = t1 + t2
print(t3)

#(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [39]:
#Q13. Repeat a tuple three times.

t1 =(1,2,3)

t2 =t1*3

print(t2)

#(1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [41]:
#Q14. Check if a tuple is empty.

t1 = (1,2)
t3= ()
print(t3)

#()

()

In [43]:
#Q15. Create a nested tuple.

t1 = (1,2)
t2 = (3,4)

t4 = ((t1,) + (t2,))

print(t4)

#((1, 2), (3, 4))

((1, 2), (3, 4))

In [58]:
#Q16. Access the first element of a nested tuple.

t1 = ((1, 2), (3, 4))

for i in t1:
    print(i[0])
        
        
#1
#3

1
3

In [61]:
#Q17. Create a tuple with a single element.

t1 = (1,)
type(t1)

#tuple

tuple

In [68]:
#Q18. Compare two tuples.

t1 = (1,2,3,4)
t2 = (1,5,6)

for i in t1:
    if i in (t2):
        print("Matching Element " , i )
    else :
        print( "Unmatched Element" , i )
 
#Matching Element  1
#Unmatched Element 2
#Unmatched Element 3
#Unmatched Element 4

Matching Element  1
Unmatched Element 2
Unmatched Element 3
Unmatched Element 4

In [70]:
#Q19. Delete a tuple.

t1 = (1,2,3)

del t1
print(t1)
#NameError: name 't1' is not defined

NameError: name 't1' is not defined

In [72]:
#Q20. Slice a tuple.

t1 = (1,2,3,4,5,7,8,9,12,21,23)

print(t1[0:3:1])
print(t1[4:6:1])
print(t1[7::1])      

#(1, 2, 3)
#(5, 7)
#(9, 12, 21, 23)

(1, 2, 3)
(5, 7)
(9, 12, 21, 23)

In [73]:
#Q21. Find the maximum value in a tuple.

t1 = (1,2,3,5,7,9,10,15,36,43,23,12)

num= 0
for i in t1:
    if i > num :
        num=i
print(num)    
#43

43

In [74]:
#Q22. Find the minimum value in a tuple.

t1 = (11,2,3,5,7,9,10,15,36,43,23,1,12)

num= t1[0]
for i in t1:
    if i <= num :
        num=i
print(num)  
#1

1

In [75]:
#Q23. Convert a string to a tuple of characters.

str1 = "This is a string"

t1 = tuple(str1)

print(t1)

#('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g')

('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g')

In [81]:
#Q24. Convert a tuple of characters to a string.

t1 = ('this', 'is', 'a' , 'string')

str1 = " "

for i in t1:
    str1 += i + " "

print(str(str1))
#this is a string

 this is a string

In [87]:
#Q25. Create a tuple from multiple data types.

str1 = "This is a string"
lst1 = [1,2,3]

t1 = ((tuple(str1),)  +  (tuple(lst1),))
t2 = ((str1,)  +  (lst1,))
print(t1)
print(t2)
#(('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g'), (1, 2, 3))
#('This is a string', [1, 2, 3])

(('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g'), (1, 2, 3))
('This is a string', [1, 2, 3])

In [90]:
#Q26. Check if two tuples are identical.

t1 =(1,2,3)
t2 =(1,2,3)

if t1 == t2 :
    print("Identical tuples")
else:
    print("Not Identical tuples")
#Identical tuples

Identical tuples

In [91]:
#Q27. Sort the elements of a tuple.

t1 = (1,3,2,45,23,45,23,12)

print(sorted(t1))
#[1, 2, 3, 12, 23, 23, 45, 45]

[1, 2, 3, 12, 23, 23, 45, 45]

In [94]:
#Q28. Convert a tuple of integers to a tuple of strings.

t1 = (1,2,4,5,6,7)

t2 = ()
for i in t1:
    t2 += tuple(str(i))
   
print(t2)
#('1', '2', '4', '5', '6', '7')

('1', '2', '4', '5', '6', '7')

In [105]:
#Q29. Convert a tuple of strings to a tuple of integers.

t1 = ('1', '2', '4', '5', '6', '7')

t2 = ()
j=0
for i in t1:
    j = tuple(map(int, i))
    t2 +=j
   
print(t2)
#(1, 2, 4, 5, 6, 7)

(1, 2, 4, 5, 6, 7)

In [106]:
#Q30. Merge two tuples.

t1 = (1,2,3)
t2 =(3,4,5)

t3 = t1 +t2

print(t3)
#(1, 2, 3, 3, 4, 5)

(1, 2, 3, 3, 4, 5)

In [115]:
#Q31. Flatten a nested tuple.

t1= ((1,2,3),1,2,(1,3,4), (2,3))

t2 = ()
for i in t1:
    if type(i) == tuple:
        for j in i : 
            t2 += tuple(map(int,str(j)))
    else : 
        t2 += tuple(map(int, str(i)))
print(t2)

#(1, 2, 3, 1, 2, 1, 3, 4, 2, 3)

(1, 2, 3, 1, 2, 1, 3, 4, 2, 3)

In [149]:
#Q32. Create a tuple of the first 5 prime numbers.


t2 = ()
cnt = 0
for i in range (2,9):
    for n in range(2,i):
        if i%n == 0 :       
            break
    else :
        t2 += tuple(map(int, str(i))) 
        
print(t2)        
#(2, 3, 5, 7)

(2, 3, 5, 7)

In [157]:
#Q33. Check if a tuple is a palindrome.

t1 = ('naman', )

cnt = 0
for i in range(0, round(len(t1)/2) , 1):
    if t1[i] == t1[len(t1)-i-1] :
        cnt = 1
        cnt += cnt + 1
if cnt == round(len(t1)/2) :
    print("tuple is palindrome " , t1)
               
else : print("tuple is not palindrome" , t1)    
 
#tuple is palindrome  ('naman',)

tuple is palindrome  ('naman',)

In [160]:
#Q34. Create a tuple of squares of numbers from 1 to 5.

t1 = ()

for i in range(1,5):
    t1 += tuple(str(i**2))
print(t1)  
#('1', '4', '9', '1', '6')

('1', '4', '9', '1', '6')

In [163]:
#Q35. Filter out all even numbers from a tuple.

t1 = (9,1,2,3,4,5,6,8,10,12,24,23,35,43,46)

for i in t1:
    if i%2 == 0:
        print(i)
'''
2
4
6
8
10
12
24
46
''''

2
4
6
8
10
12
24
46

In [168]:
#Q36. Multiply all elements in a tuple by 2.

t1 = (1,2,4,5,7,12)

t2= ()
list1= []
for i in t1:
    list1.append((i*2))
    t2 = tuple(list1) 


print(t2)

#(2, 4, 8, 10, 14, 24)

(2, 4, 8, 10, 14, 24)

In [172]:
#Q37. Create a tuple of random numbers.

import random
for i in range(0,20):
    t1 += tuple(map(int, str(random.randint(3,5))))

print(t1)
#(1, 2, 4, 5, 7, 12, 3, 5, 4, 3, 3, 4, 5, 3, 3, 5, 3, 5, 3, 3, 5, 4, 5, 4, 4, 3)

(1, 2, 4, 5, 7, 12, 3, 5, 4, 3, 3, 4, 5, 3, 3, 5, 3, 5, 3, 3, 5, 4, 5, 4, 4, 3)

In [210]:
#Q38. Check if a tuple is sorted.

t1 = (1,3,4,6)

lst1 = list(t1)
print(lst1)
num1 = lst1[0]
cnt = 0
for i in lst1:
    if i >= num1 :
        num1 = i
        cnt = cnt + 1
        if cnt == len(lst1) :
            print("tuple is sorted")
            break
else:
    print("tuple is not sorted")
 
#[1, 3, 5, 4, 6]
#tuple is not sorted 

#[1, 3, 4, 6]
#tuple is sorted

[1, 3, 4, 6]
tuple is sorted

In [215]:
#Q39. Rotate a tuple to the left by `n` positions.

t1 = (1,2,3,4,6,7,8)

pos = int(input("add the position "))

t2 = t1[0:pos:]
t3 =  t1[pos::]

t4 = ( (t3) +  (t2))

print(t4)
#add the position  3
#(4, 6, 7, 8, 1, 2, 3)

add the position  3

(4, 6, 7, 8, 1, 2, 3)

In [243]:
#Q40. Rotate a tuple to the right by `n` positions.
t1 = (4, 6, 7, 8, 1, 2, 3)

pos = int(input("add the position "))

t2 = t1[-1:pos:-1]
t3 =  t1[-pos-1::-1]

t5 = list(t2)
t6 = list(t3)
list.reverse(t5)  
list.reverse(t6)

t7 = t5 + t6

t8 = tuple(t7)
print(t8)
#add the position  3
#(1, 2, 3, 4, 6, 7, 8)

add the position  3

(1, 2, 3, 4, 6, 7, 8)

In [244]:
#Q41. Create a tuple of the first 5 Fibonacci numbers

t1= ()

f = 0
p = 1
lst1 = [0,1]
for i in range(1,5):
    fib = f + p
    f= p
    p=i
    lst1.append(fib)
t1 = tuple(lst1)

print(t1)
#(0, 1, 1, 2, 3, 5)

(0, 1, 1, 2, 3, 5)

In [250]:
#Q42. Create a tuple from user input.

u_input = input("Please enter your input")

print(u_input)
del t10
lst1.clear()
lst1 = []
t10 = ()
for i in u_input:
    lst1.append(i)
t10 = tuple(lst1)

print(t10)

#Please enter your input 12345this is string
#12345this is string
#('1', '2', '3', '4', '5', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g')

Please enter your input 12345this is string

12345this is string
('1', '2', '3', '4', '5', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g')

In [259]:
#Q43. Swap two elements in a tuple.

t1 = (1,2,3,4)
t2 =()
lst2 = list(t1)

lst2[0] , lst2[2] = lst2[2] , lst2[0]

t2 = tuple(lst2)

print(t2)
#(3, 2, 1, 4)

(3, 2, 1, 4)

In [265]:
#Q44. Reverse the elements of a tuple.

t1 = (1,2,3,45)
t2 = ()
lst1 = list(t1)
lst1.reverse()
t2 = tuple(lst1)
print(t2)
#(45, 3, 2, 1)

(45, 3, 2, 1)

In [270]:
#Q45. Create a tuple of the first `n` powers of 2.

num = int(input("please enter the position"))

lst1 = []
t1 = ()
for i in range (0, num+1):
    lst1.append(i**2)

t1 = tuple(lst1)

print(t1)
#please enter the position 5
#(0, 1, 4, 9, 16, 25)

please enter the position 5

(0, 1, 4, 9, 16, 25)

In [37]:
#Q46. Find the longest string in a tuple of strings.

t1 = ((1,2,3),(1,2,3,4,5,8,9,10),(345,23), (4,5,6,7))
lst9 = list(t1)

cnt = 0
for i in lst9:
    if len(i) > cnt:
        cnt =len(i)
        
print(cnt)
#8

8

In [38]:
#Q47. Find the shortest string in a tuple of strings.

t1 = ((1,2,3),(1,2,3,4,5,8,9,10),(345,23), (4,5,6,7))
lst9 = list(t1)

cnt = len(lst9[0])
for i in lst9:
    if len(i) <= cnt:
        cnt =len(i)
        
print(cnt)
#2

2

In [39]:
#Q48. Create a tuple of the first `n` triangular numbers.

num1 = int(input("Please enter the number"))

tri_num1 = []
tri_num = 0
for i in range(1,num1+1):
    tri_num += i
    tri_num1.append(tri_num)
    
t1 = tuple(tri_num1)    
    
print(t1) 
#(1, 3, 6, 10, 15)

Please enter the number 5

(1, 3, 6, 10, 15)

In [55]:
#Q49. Check if a tuple contains another tuple as a subsequence.

t1 = ((1,2,3) , (1,2) , (1,5,6))

for i in t1:
    if type(i) == tuple:
        print("Tuple contains another tuple as a subsequence.")
        break
else:
    print("No subsequent tuple found")
#Tuple contains another tuple as a subsequence.

Tuple contains another tuple as a subsequence.

In [62]:
#Q50. Create a tuple of alternating 1s and 0s of length `n`.

n = int(input("please enter the number"))
lst1 = []
while len(lst1) < n:
        lst1 += [1] * 3
        lst1 += [0 ]* 4
        if len(lst1) > n:
            lst1 = lst1[:n]
            print(lst1)
#please enter the number 4
#[1, 1, 1, 0]

please enter the number 4

[1, 1, 1, 0]

In [78]:
#Set Based Practice Problem :

#Q1. Create a set with integers from 1 to 5.

set1 = set()
type(set1)

for i in range (1,6):
    set1.add(i)
    
print(set1)    

#. {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [84]:
#Q2. Add an element to a set.

set1 = set()
str1 =  ["This",  "is",  "a",  "set"]


for i in str1:

    set1.add(i)
    
print(set1)  
#{'set', 'is', 'a', 'This'}

{'set', 'is', 'a', 'This'}

In [85]:
#Q3. Remove an element from a set.

set1 ={1,3,4,5,6}

set1.pop()

print(set1)
#{3, 4, 5, 6}

{3, 4, 5, 6}

In [92]:
#Q4. Check if an element exists in a set.

set1 = {1,2,3,40,5}

ele = int(input("please enter element"))

if ele in set1:
    print("element found")
else :
    print("element not found")

#please enter element 3
#element found

#please enter element 4
#element not found

please enter element 4

element not found

In [93]:
#Q5. Find the length of a set without using the `len()` function.

set1 = {1,2,3,5,6,7,8}

n= 0
for  i in set1:
    n=n+1
print(n)    
#7

7

In [94]:
#Q6. Clear all elements from a set.

set1 ={1,2,3,4}

set1.clear()

print(set1)
#set()

set()

In [95]:
#Q7. Create a set of even numbers from 1 to 10.

set1 = set()

for i in range (1 , 11):
    if i%2 == 0:
        set1.add(i)
print(set1)        
 #{2, 4, 6, 8, 10}

{2, 4, 6, 8, 10}

In [96]:
#Q8. Create a set of odd numbers from 1 to 10.
set1 = set()

for i in range (1 , 11):
    if i%2 != 0:
        set1.add(i)
print(set1)  
#{1, 3, 5, 7, 9}

{1, 3, 5, 7, 9}

In [100]:
#Q9. Find the union of two sets.

set1 = {1,2,3}
set2 = {3,4,5}

set3 = set1.union(set2)
print(set3)
#{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [101]:
#Q10. Find the intersection of two sets.
set1 = {1,2,3}
set2 = {3,4,5}

set3 = set1.intersection(set2)
print(set3)
#{3}

{3}

In [106]:
#Q11. Find the difference between two sets.
set1 = {1,2,3}
set2 = {3,4,5}

set3 = set1.difference(set2)
set4 = set2.difference(set1)
print(set3.union(set4))
#{1, 2, 4, 5}

{1, 2, 4, 5}

In [108]:
#Q12. Check if a set is a subset of another set.
set1 = {1,2,3}
set2 = {1,2}

if set2.issubset(set1):
    print("subset found")
else :
    print("not found")
#subset found

subset found

In [109]:
#Q13. Check if a set is a superset of another set.

set1 = {1,2,3}
set2 = {1,2}

if set1.issuperset(set2) :
    print("superset fond")
else: 
    print("not found")
#superset fond

superset fond

In [110]:
#Q14. Create a set from a list.

lst1 = [1,2,3,4,5]

set1 = set(lst1)

print(set1)
#{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [111]:
#Q15. Convert a set to a list.

set1 = {1, 2, 3, 4, 5}

lst2 = list(set1)

print(lst2)
#[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [119]:
#Q16. Remove a random element from a set.

import random
set1 = {1,2,3,5,6,7}

random = set1.pop()

print(random)
#1

1

In [120]:
#Q17. Pop an element from a set.

set1 = {1,2,3,5,6,7}

random = set1.pop()

print(random)
#1

1

In [124]:
#Q18. Check if two sets have no elements in common.

set1 = {1,2,3}
set2 = {4,5}

if set1.isdisjoint(set2):
    print("no element common fond")
else: 
    print("element common found")
#no element common fond

no element common fond

In [127]:
#Q19. Find the symmetric difference between two sets.
set1 = {1,2,3}
set2 = {'a','b'}

set3 = set1.symmetric_difference(set2)
set4 = set2.symmetric_difference(set1)
print(set3)
print(set4)
#{1, 2, 3, 'b', 'a'}
#{1, 2, 3, 'b', 'a'}

{1, 2, 3, 'b', 'a'}
{1, 2, 3, 'b', 'a'}

In [133]:
#Q20. Update a set with elements from another set.
set1 = {1,2,3}
set2 = {1,2,4,'a','b'}

set1.update(set2)
print(set1)
#{1, 2, 3, 4, 'b', 'a'}

{1, 2, 3, 4, 'b', 'a'}

In [136]:
#Q21. Create a set of the first 5 prime numbers.

set1 = set()

for i in range(2,10):
    for j in range(2,i):
        if i%j == 0:
            break
        else :
            set1.add(i)
            
print(set1)  
#{9, 3, 5, 7}

{9, 3, 5, 7}

In [138]:
#Q22. Check if two sets are identical.
set1 = {1,2,}
set2 = {1,2}

if set1 == set2 :
    print("identical")
else:
    print("not identical")
#identical

identical

In [140]:
#Q23. Create a frozen set.

fruits = frozenset(["apple", "banana", "orange"])
print(fruits)
#frozenset({'banana', 'orange', 'apple'})

frozenset({'banana', 'orange', 'apple'})

In [142]:
#Q24. Check if a set is disjoint with another set.
set1 = {1,2,5}
set2 = {3,4}

if set1.intersection(set2) :
    print("set is joint")
else :
    print("set is disjoint with another set")
#set is disjoint with another set

set is disjoint with another set

In [144]:
#Q25. Create a set of squares of numbers from 1 to 5.

set1 = set()
for i in range(1,6):
    set1.add(i*i)
print(set1)
#{1, 4, 9, 16, 25}

{1, 4, 9, 16, 25}

In [149]:
#Q26. Filter out all even numbers from a set.

set1 = {1,2,3,4,5,8,9,12,13,15,16}

set2 = set()
for i in set1:
    if i%2 == 0 :
        set2.add(i)
print(set2)        
#{2, 4, 8, 12, 16}

{2, 4, 8, 12, 16}

In [150]:
#Q27. Multiply all elements in a set by 2.
set1 = {1,2,3,4,5,8,9,12,13,15,16}

set2 = set()
for i in set1:
    set2.add(i*2)
print(set2)  
#{32, 2, 4, 6, 8, 10, 16, 18, 24, 26, 30}

{32, 2, 4, 6, 8, 10, 16, 18, 24, 26, 30}

In [153]:
#Q28. Create a set of random numbers.

import random
set1 = set()

for i in range(1,50):
    r1 = random.randint(3,9)
    set1.add(r1)
    
print(set1)    
#{3, 4, 5, 6, 7, 8, 9}

{3, 4, 5, 6, 7, 8, 9}

In [162]:
#Q29. Check if a set is empty.

set1 = set()

if set1 == set():
    print("set is empty")
else : ("not empty")  
#set is empty

set is empty

In [164]:
#Q30. Create a nested set (hint: use frozenset).

set1 = set()

set1.add(frozenset((1,2)))
set1.add(frozenset((3,4,5)))

print(set1)
#{frozenset({3, 4, 5}), frozenset({1, 2})}

{frozenset({3, 4, 5}), frozenset({1, 2})}

In [167]:
#Q31. Remove an element from a set using the discard method.

set1 = {1,2,3,5,6,7}

set1.discard(5)

print(set1)
#{1, 2, 3, 6, 7}

{1, 2, 3, 6, 7}

In [174]:
#Q32. Compare two sets.

set1 = {1,2,3,5}
set2 ={2,3,4}

set3 = set1.difference(set2)
set4 = set2.difference(set1)
print(set3.union(set4))

#{1, 4, 5}

{1, 4, 5}

In [177]:
#Q33. Create a set from a string.

str1 = "This is a string"

set1 = set()
str2= str1.split()
for i in str2:
    set1.add(i)
print(set1)    
#{'is', 'a', 'This', 'string'}

{'is', 'a', 'This', 'string'}

In [178]:
#Q34. Convert a set of strings to a set of integers.

set1 ={'1','2','3'}
set2 =set()
for i in set1:
    set2.add(int(i))
print(set2)  
#{1, 2, 3}

{1, 2, 3}

In [179]:
#Q35. Convert a set of integers to a set of strings.
set1 ={1, 2, 3}
set2 =set()
for i in set1:
    set2.add(str(i))
print(set2)  
#{'3', '1', '2'}

{'3', '1', '2'}

In [180]:
#Q36. Create a set from a tuple.
t1 =(1, 2, 3)
set2 =set()
for i in t1:
    set2.add(i)
print(set2)  
#{1, 2, 3}

{1, 2, 3}

In [181]:
#Q37. Convert a set to a tuple.
set1 ={1, 2, 3}
lst1 = []

for i in set1:
    lst1.append(i)
t1 = tuple(lst1)

print(t1)
 #(1, 2, 3)

(1, 2, 3)

In [183]:
#Q38. Find the maximum value in a set.

set1 = {1,2,3,5,78,34,23,43}

n = 0
for i in set1:
    if i > n:
        n=i
print(n)        
 #78

78

In [188]:
#Q39. Find the minimum value in a set.
set1 = {9,2,3,5,78,34,23,43}

n=set1.pop()
for i in set1:
    if i <= n:
        n=i
print(n)  
#2

2

In [189]:
#Q40. Create a set from user input.

str1 = input("please enter your input")

set1 = set()
for i in str1:
    set1.add(i)
print(set1)
#please enter your input 12345
#{'1', '3', '5', '4', '2'}

please enter your input 12345

{'1', '3', '5', '4', '2'}

In [193]:
#Q41. Check if the intersection of two sets is empty.

set1 ={1,2,3}
set2 ={4,5}

if set1.intersection(set2) == set():
    print("No intersection found")
else:
    print("intersection found")

#No intersection found

No intersection found

In [201]:
#Q42. Create a set of the first 5 Fibonacci numbers.



set1 = {0,1,1}
f =0 
p =1
for i in range(1,10):
    fib = f + p
    set1.add(fib)
    f = p
    p = i
    
print(set1)   
#{0, 1, 2, 3, 5, 7, 9, 11, 13, 15}

{0, 1, 2, 3, 5, 7, 9, 11, 13, 15}

In [202]:
#Q43. Remove duplicates from a list using sets.

lst1 = [1,1,2,3,3,3,4,5,5,6,6]

set1 = set(lst1)

print(set1)
#{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [205]:
#Q44. Check if two sets have the same elements, regardless of their count.

set1 = {1,2,3,3}
set2 ={1,2,3,2,2}

if set1 == set2 :
    print("same set")
else :
    print("not a same set")
 #same set

same set

In [207]:
#Q45. Create a set of the first `n` powers of 2.

set1 = set()

n = int(input("please enter the n"))
for i in range (1,n):
    set1.add(i**2)
print(set1) 
#please enter the n 10
#{64, 1, 4, 36, 9, 16, 49, 81, 25}

please enter the n 10

{64, 1, 4, 36, 9, 16, 49, 81, 25}

In [210]:
#Q46. Find the common elements between a set and a list.

set1 = {1,2,3,4,5}
lst1 = [1,2,6,7]

set2 =set(lst1)

set3 = set1.intersection(set2)

print(set3)
#{1, 2}

{1, 2}

In [211]:
#Q47. Create a set of the first `n` triangular numbers

set1 = set()
n1 =0
n = int(input("please enter the n"))
for i in range (1,n):
    n1 += i
    set1.add(n1)
print(set1)  

#please enter the n 5
#{1, 10, 3, 6}

please enter the n 5

{1, 10, 3, 6}

In [213]:
#Q48. Check if a set contains another set as a subset.

set1 = {1,2,3,4,5}
set2 ={1,3}

if  set2.issubset(set1):
    
    print("subset found")
else:
    print("not found")
#subset found

subset found

In [226]:
#Q49. Create a set of alternating 1s and 0s of length `n`.

set1 = set()
s1 = []
s2 = []
for i in range(1,14):
    s1 += [0] * 3 
    s3 =set(s1)
    set1.add(frozenset((s3)))
    s2 += [1] * 4
    s4 =set(s2)
    set1.add(frozenset((s4)))
    
print(set1) 
#{frozenset({1}), frozenset({0})}

{frozenset({1}), frozenset({0})}

In [227]:
#Q50. Merge multiple sets into one.

set1 ={1,2,3}
set2= {1,3,4}
set3 = {'a','b','c'}

set4 = set1.union(set2.union(set3))

print(set4)
#{1, 2, 3, 4, 'b', 'c', 'a'}

{1, 2, 3, 4, 'b', 'c', 'a'}